

<div class="navbar-fixed">
  <nav class="white darken-4">
    <div class="nav-wrapper container">
      <a ng-href="#/" class="brand-logo"><img src="assets/img/if-logo.png" style="width: 4em;padding-top: 8%;" alt=""></a>
      <ul class="right hide-on-med-and-down">
          <li><a ng-href="#/" class="black-text">HOME</a></li>
          <li><a href="https://github.com/AllanDenis/ajuste-de-matricula" target="_blank"><i class="fa fa-github black-text"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

<section class="section no-pad-bot">
    <div class="container">

        <div class="row">
          <div class="col s12 center">
            <h4>Marque todas as disciplinas já concluidas .</h4>
          </div>
        </div>

        <div class="row">

            <div class="col l6 s12 m6" ng-repeat="(key,periodo) in vm.disciplines | groupBy: 'periodo'">
                <ul class="collection with-header hoverable">
                    <li class="collection-header center"><h5>{{ key }}º Período</h5></li>
                    <li class="collection-item" >
                        <div><input class="" type="checkbox" id="" />
                        <label class="" for="">SELECIONAR TODAS</label></div>
                    </li>
                    <li class="collection-item" ng-repeat="discipline in periodo">
                        <div><input type="checkbox" id="{{discipline.id}}" checklist-model="getSelectedDisciplines()" checklist-value="discipline.id" />
                        <label for="{{discipline.id}}">{{ discipline.nome }}</label></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row center">
            <button class="waves-effect waves-light btn-large green darken-4" type="submit"><i class="material-icons right">dashboard</i>GERAR GRADE</button>
        </div>

    </br></br>


    </div>
</section>
